body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  color: #ffffff;
  font-family: Ubuntu Mono;
  overflow: hidden;
  position: fixed;
}

code {
  display: block;
  white-space: pre-wrap;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  color: #00ff00;
}
